<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="inetBankingV1">

<listeners>
<listener class-name="com.inetbanking.utilities.Reporting"></listener>

</listeners>


	<test name="Any-Do web Test">

		<parameter name="browser" value="chrome" />
		<classes>
			    <class name="com.inetbanking.testCases.TC_LoginTest_001" />
                <class name="com.inetbanking.testCases.TC_LoginTest_002" />
                <class name="com.inetbanking.testCases.TC_LoginTest_003" />
                <class name="com.inetbanking.testCases.TC_LoginTest_004" />
                <class name="com.inetbanking.testCases.TC_LoginTest_005" />
                <class name="com.inetbanking.testCases.TC_LoginTest_006" />
                <class name="com.inetbanking.testCases.TC_LoginTest_007" />
                <class name="com.inetbanking.testCases.TC_LoginTest_008" />
             



		</classes>

	</test>

</suite>